<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Servicio Subasta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"></i> Subasta </a>
                </li>
                <% if(data==null || data==''){ %><!-- DESLOGEADO -->
                <li class="nav-item">
                    <a class="nav-link" href="/logear"> Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"> Registro </a>
                </li>
                <% }else{ %><!-- LOGEADO -->
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"> Salir </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil"><i class="fas fa-user"></i> <%- data %></a>
                    </li>
                    
                <% } %>
            </ul>
        </div>
    </div>
</nav>